.box_hot_bids {
  background-color: rgba(255, 255, 255, 0.1);
}
.img_hot_bids > div {
  top: 1.8rem;
  left: 2.4rem;
}

.bg_blur {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.hearet_icon_hot_bids {
  width: 58px;
  height: 58px;
}

.text_time_hot_bids {
  width: 150px;
  height: 58px;
  font-size: 1.5rem;
  font-family: Gilroy_Bold;
}
.Ellipse_2 {
  width: 952px;
  height: 991px;
  border-radius: 100%;
  position: absolute;
  bottom: -55%;
  left: -15%;
  z-index: -1;
  filter: blur(50px);
  background: radial-gradient(
    62.37% 62.37% at 50% 50%,
    rgba(8, 164, 117, 0.1) 28.57%,
    rgba(7, 15, 28, 0) 100%
  );
}

@media screen and (max-width: 991.98px) {
  .Ellipse_2 {
    width: 551px;
    height: 574px;
    bottom: 55%;
    left: 65%;
  }
}

@media screen and (max-width: 600.98px) {
  .text_time_hot_bids {
    width: 120px;
    height: 34px;
    font-size: 0.8rem;
  }
  .hearet_icon_hot_bids {
    width: 31px;
    height: 31px;
  }
}
