
.wallet_box_2{
    background-image: linear-gradient(to right bottom,#07101D,#00D1FF);

}

.wallet_box_3{
    background-image: linear-gradient(to right bottom,#07101D,#760AFF);

}
.wallet_box_4{
    background-image: linear-gradient(to right bottom,#07101D,#FE007A);

}
.wallet_box_5{
    background-image: linear-gradient(to right bottom,#07101D,#FFBB0D);

}
.wallet_box_6{
    background-image: linear-gradient(to right bottom,#07101D,#FC280C);

}
.wallet_box_2::after{
    border-top: 1px solid #00D1FF;
}
.wallet_box_3::after{
    border-top: 1px solid #760AFF;
}
.wallet_box_4::after{
    border-top: 1px solid #FE007A;
}
.wallet_box_5::after{
    border-top: 1px solid #FFBB0D;
}
.wallet_box_6::after{
    border-top: 1px solid #FC280C;
}

.wallet_box{
   padding: 1px;
   height: 188px;
}
.wallet_box > div{
    background-color: #161E2A;


}
.wallet_box::after{
    content: '';
    width: 43px;
    height: 22px;
    background-color: #07101D;
    position: absolute;
    right: -14px;
    bottom: -3px;
    transform: rotate(-43deg);

}